{
	crowdsec {
		api_url http://crowdsec:8080
		api_key {$CROWDSEC_API_KEY:_}
		ticker_interval 15s
	}
}

{$SITE_DOMAIN} {
	log {
		output file /log/access.log {
			roll_size 10mb
			roll_keep 10
			roll_keep_for 720h
			mode 644
		}
	}

	route {
		crowdsec

		redir /premiere-relay-archive /premiere-relay-archive/ 301

		handle_path /premiere-relay-archive/* {
			reverse_proxy premiere-relay-archive:80
		}

		handle {
			reverse_proxy mediawiki:80
		}
	}
}
