{
	crowdsec {
		api_url http://crowdsec:8080
		api_key {$CROWDSEC_API_KEY:_}
		ticker_interval 15s
	}

	log {
		output file /log/access.log {
			roll_size 10mb
			roll_keep 10
			roll_keep_for 720h
			mode 644
		}
	}
}

{$BASE_URL} {
	log
	route {
		crowdsec

		handle_path /-/stats/script.js {
			reverse_proxy https://cloud.umami.is {
				header_up Host cloud.umami.is
			}
		}

		redir /premiere-relay-archive /premiere-relay-archive/ 301

		handle_path /premiere-relay-archive/* {
			reverse_proxy premiere-relay-archive:80
		}

		handle {
			reverse_proxy mediawiki:80
		}
	}
}

sencho.{$BASE_URL} {
	log

	@allowed remote_ip {$ADMIN_IP_LIST} private_ranges
	handle @allowed {
		reverse_proxy sencho:1852
	}

	handle {
		abort
	}
}
